<div class="row">

    <div class="col">
        <h1>descripcion jedis </h1>
        <hr>
        <div *ngIf="mostrar" class="card text-white bg-secondary mb-3" style="width: 100%;">

            <div class="card-body">
                <h5 class="card-title">{{frase.autor}}
                </h5>
                <p class="card-text">{{frase.mensaje}}</p>
            </div>
        </div>

        <button (click)="mostrar= !mostrar" class="btn btn-outline-primary">
            MOSTRAR/OCULTAR
            </button>
    </div>
    <div class="col">
        <h1>nombre de los jedi del consejo </h1>
        <ul class="list-group">
            <li *ngFor="let personaje of personajes" class="list-group-item">{{personaje}}</li>
        </ul>
    </div>

</div>